/* @import url(https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css); */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

/* ################################ BackGround #################################################### */

* {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

#root,
body,
html {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;

  font-size: min(2vh, 2vw);
}

body {
  background: rgb(2, 128, 144);
  background: linear-gradient(75deg, #04adc4 35%, #027786 35%, #01424b 75%);
}

.hidden {
  display: none;
}

.openImage {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

/* ScrollBar */

.scroll--simple::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.scroll--simple::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}
.scroll--simple::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}
.scroll--simple::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}
.scroll--simple::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.9);
}
